*{
font-family: sans-serif;
box-sizing: border-box;
margin: 0;
scroll-behavior: smooth;
}
header {
    padding: 1rem;
    background-color: #0b75a5;
    box-shadow: 0 5px 10px #2b004e;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

button {
    cursor: pointer;
}

nav {
display: flex;
justify-content: space-between;
align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul a {
    margin-left: 5rem;
    font-weight: bold;    
}

.nav-item {
    color: #000000;   
    text-decoration: none;
}
.nav-item:hover {
    color: #ffffff;
}

main {
    padding: 5rem;
    min-height: 100dvh    ;
}
footer {
    background-color: #0b75a5;
    padding: 1rem;
    color: #2b004e;
    /*position: fixed; serve para o roda-pé ficar fixo*/ 
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    box-shadow: 0 -5px 5px #2b004e  
    
}

footer a {
    text-decoration: none;
    color: #fff;
    box-shadow: #2b004e;
}

#hero {
    display: flex;
    color: #2b004e;
    padding: 1rem 0;
    flex-direction: column;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem 0;
    padding: 6rem 0;
    color: #2b004e;


}
#appealing-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem;

}
#appealing-content > img {
    width: 20rem;
    margin-bottom: 1.5rem;
}
#explainer {
    display: flex;
    flex-direction: column;
    
}
#explainer > h3, 
#explainer > h4 {
     margin-bottom: 1rem;
}

#main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem 0;
    padding: 6rem 0;
    color: #2b004e;
    padding: 0.1rem 0;
    flex-direction: column;

}


#cta {
    border: none;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    background-color: #2b004e;
    color: #fff;
    border-radius: 20px;
    font-weight: bold;
    align-items: center;
    width: 300px;
    margin: 3rem;

    
}

#cta > p {
    padding-top: 4px;
    font-size: 1rem;
    text-shadow: 2px 2px 10px #000;
}


#cta:hover {
background-color: #0b75a5;
}

#about {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem 0;
    padding: 6rem 0;
    color: #2b004e;

}
#about > h4 {
    max-width: 60%;
}
#employees-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#employees-container > h2 {
    margin: 2rem 0;
    color: #2b004e;
    margin: 2rem 0;
    padding: 6rem 0;
}

#employees {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

#employees > article {
  display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    background-color: #0b75a5;
    color: #fff;
    border-radius: 10px;
    gap: 2rem;
    
}
#registrer-button{
    padding: 0.2rem;
    border-radius: 8px;
    font-weight: bold;
    font-size: 1rem;
    background-color: #fff;
    color: #0044ff;
}
#registrer-button:hover {
    background-color: #0044ff;
    color: #fff;
    transition: 0.5s all ease-in;
}

#employees > article > img {
    width: 5rem;
    clip-path: circle();
    z-index: 0;
}

#account {
    display: flex;
    justify-content: center;
    margin: 4rem 0;
}
#registration-form {
    display: flex;
    flex-direction: column;
    background-color:#0b75a5;
    color: #fff;
    height: fit-content;
    padding: 2rem;
    border-radius: 10px;
    gap: 2rem;
}
.input-wrapper {
    display: flex;
    align-items: center;

    

}
.input-wrapper > input {
    flex-grow: 1;
    padding: 0.3rem;
    font-weight: bold;
    border-radius: 5px;
}
.input-wrapper > label {
    width: 130px;
    text-align: center;
}
#registroin {
    width: 13rem;
    display: flex;
    justify-content: center;
    border: #0044ff;
    flex-direction: column;
}